* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: sans-serif;
            background: linear-gradient(135deg, #ffffff 0%, #430000 100%);
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            background: white;
            border-radius: 1rem;
            padding: 3rem 5rem;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
            text-align: center;
			transform: rotate(-10deg);
        }

        .device-label {
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: #280000;
        }

        @media (min-width: 1024px) {
			.desktop-text {
				display: inline;
			}
			.tablet-text, .mobile-text {
				display: none;
			}
		}

		@media (min-width: 768px) and (max-width: 1023px) {
			.tablet-text {
				display: inline;
			}
			.desktop-text, .mobile-text {
				display: none;
			}
		}

		@media (max-width: 767px) {
			.mobile-text {
				display: inline;
			}
			.desktop-text, .tablet-text {
				display: none;
			}
		}